


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
        <meta charset ="utc-8">
        <title> Employee List </title>
        <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.2.0/bootsrap">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white"></nav>
<h1> Agency List </h1>
</header>

<main>
<table>
<tr>
<th> Agency Id </th> <th> Agency Full name </th>  <th> Email </th> <th> Role </th>
</tr>
<forEach items ="${agencyJsp}" var="agency">
<tr>
<td>${employee.id}</td>
<td>${employee.nume}</td>
<td>${employee.city}</td>
<td>${employee.adress}</td>
<td><a onClick="return confirm" ('sure?')
   href="deleteemployee?id=${employee.id}"

   >Delete</a></td>
   <td><a  href="showemployee?id=${employee.id}"

      >Edit</a></td>


</tr>
</forEach>
</table>

</main>
<footer>
<a href="createEmployee"> Employee creation </a>
</footer>
</body>
</html>